<html>
<head>
    <title>ConvertTo-AzHtml</title>
    <meta name="author" content="kongou_ae">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        .container {
            padding-top: 60px;
        }
        table {
            font-size: 14px;
        }

        .table {
            margin-bottom: 0rem;
        }

        td,th {
            word-wrap:break-word;
            font-size:90%
        }
        ul {
            margin-bottom: initial;
        }

        hr {
            border-top: 2px solid rgba(0,0,0,.1);
        }
    </style>
    <script type="text/javascript" language="JavaScript">
        window.addEventListener("hashchange", function() { scrollBy(0, -70) })
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">ConvertTo-AzHtml</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Network
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#vnet">Virtual Network</a>
                        <a class="dropdown-item" href="#nic">Network Interface</a>
                        <a class="dropdown-item" href="#nsg">Network Security Group</a>
                        <a class="dropdown-item" href="#routeTable">Route Table</a>
                        <a class="dropdown-item" href="#pip">Public IP Address</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Compute
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#vm">Virtual Machine</a>
                        <a class="dropdown-item" href="#disk">Disk</a>
                        <a class="dropdown-item" href="#avset">Availability Set</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Storage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#storageAccount">Storage Account</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container ml-sm-1">
        <div class="row">
            <div class="col-sm-12">
                <a id="vnet">
                    <h2>Virtual Network</h2>
                </a>
                <table class="table table-sm table-bordered table-hover" style="table-layout: fixed;">
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:100px;">
                        <col style="width:150px;">
                        <col style="width:150px;">
                        <col style="width:700px;">
                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>ResourceGroupName</th>
                            <th>AddressSpace</th>
                            <th>Subnets</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allVnets -%>
                    </tbody>
                </table>
                <hr/>
                <a id="nic">
                    <h2>Network Interface</h2>
                </a>
                <table class="table table-sm table-bordered table-hover" style="table-layout: fixed;">
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:100px;">
                        <col style="width:150px;">
                        <col style="width:500px;">
                        <col style="width:100px;">
                        <col style="width:150px;">
                        <col style="width:150px;">
                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>ResourceGroupName</th>
                            <th>IpConfigurations</th>
                            <th>DnsSettings</th>
                            <th>EnableIPForwarding</th>
                            <th>NetworkSecurityGroup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allNics -%>
                    </tbody>
                </table>
                <hr/>
                <a id="nsg">
                    <h2>Network Security Group</h2>
                </a>
                <table class="table table-sm table-bordered table-hover" style="table-layout: fixed;">
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:100px;">
                        <col style="width:150px;">
                        <col style="width:850px;">
                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>ResourceGroupName</th>
                            <th>SecurityRules</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allNsgs -%>
                    </tbody>
                </table>
                <hr/>
                <a id="routeTable">
                    <h2>Route table</h2>
                </a>
                <table class="table table-sm table-bordered table-hover" style="table-layout: fixed;">
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:100px;">
                        <col style="width:150px;">
                        <col style="width:850px;">
                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>ResourceGroupName</th>
                            <th>Routes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allRouteTables -%>
                    </tbody>
                </table>
                <hr/>
                <a id="pip">
                    <h2>Public IP Address</h2>
                </a>
                <table class="table table-sm table-bordered table-hover" style="table-layout: fixed;">
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:100px;">
                        <col style="width:150px;">
                        <col style="width:70px;">
                        <col style="width:70px;">
                        <col style="width:110px;">
                        <col style="width:100px;">
                        <col style="width:110px;">
                        <col style="width:500px;">
                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>ResourceGroupName</th>
                            <th>Sku</th>
                            <th>Version</th>
                            <th>Allocation</th>
                            <th>IpAddress</th>
                            <th>IpConfiguration</th>
                            <th>DnsSettings</th>                       
                        </tr>
                    </thead>
                    <tbody>
                        <% allPips -%>
                    </tbody>
                </table>
                <hr/>
                <a id="vm">
                    <h2>Virtual Machine</h2>
                </a>
                <table class="table table-sm table-bordered table-hover" style="table-layout: fixed;">
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:100px;">
                        <col style="width:150px;">
                        <col style="width:150px;">
                        <col style="width:100px;">
                        <col style="width:50px;">
                        <col style="width:90px;">
                        <col style="width:260px;">
                        <col style="width:500px;">
                        <col style="width:280px;">
                        <col style="width:150px;">
                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>ResourceGroupName</th>
                            <th>Size</th>
                            <th>AvailabilitySet</th>
                            <th>Zones</th>
                            <th>OsType</th>
                            <th>ImageReference</th>
                            <th>OsDisk</th>
                            <th>DataDisk</th>
                            <th>NetworkInterface</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allVms -%>
                    </tbody>
                </table>
                <hr/>
                <a id="disk">
                    <h2>Disk</h2>
                </a>
                <table class="table table-sm table-bordered table-hover" style="table-layout: fixed;">
                    <colgroup>
                        <col style="width:550px;">
                        <col style="width:100px;">
                        <col style="width:150px;">
                        <col style="width:125px;">
                        <col style="width:150px;">                        
                        <col style="width:90px;">
                        <col style="width:90px;">
                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>ResourceGroupName</th>
                            <th>Sku</th>
                            <th>ManagedBy</th>
                            <th>DiskSizeGB</th>
                            <th>DiskState</th>   
                        </tr>
                    </thead>
                    <tbody>
                        <% allDisks -%>
                    </tbody>
                </table>
                <hr/>
                <a id="avset">
                    <h2>Availability Set</h2>
                </a>
                <table class="table table-sm table-bordered table-hover" style="table-layout: fixed;width:840;">
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:100px;">
                        <col style="width:150px;">
                        <col style="width:120px;">
                        <col style="width:120px;">                        
                        <col style="width:200px;">
                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>ResourceGroupName</th>
                            <th>FaultDomain</th>
                            <th>UpdateDomain</th>
                            <th>VirtualMachinesReferences</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allAvset -%>
                    </tbody>
                </table>
                <hr/>
                <a id="storageAccount">
                    <h2>Storage Account</h2>
                </a>
                <table class="table table-sm table-bordered table-hover" style="table-layout: fixed;width:1940px;">
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:100px;">
                        <col style="width:150px;">
                        <col style="width:100px;">
                        <col style="width:100px;">                        
                        <col style="width:100px;">
                        <col style="width:150px;">
                        <col style="width:150px;">
                        <col style="width:150px;">
                        <col style="width:150px;">
                        <col style="width:600px;">
                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>ResourceGroupName</th>
                            <th>Sku</th>
                            <th>Kind</th>
                            <th>AccessTier</th>
                            <th>CustomDomain</th>
                            <th>PrimaryLocation</th>
                            <th>SecondaryLocation</th>
                            <th>EnableHttpsTrafficOnly</th>
                            <th>NetworkRuleSet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allStorageAccounts -%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




</body>
</html>
